@import "tailwindcss";

:root {
  --blue-transparent: #000010be;
  --blue-shown: #14141ebe;
  --white-transparent: #ffffffbd;
}

body {
  background-color: var(--blue-transparent);
}

@font-face {
  font-family: "Gruppo-Regular";
  src: url('./assets/fonts/static/Commissioner-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Gruppo-Regular", sans-serif;
  overflow: hidden;
}

.container-page {
  max-width: 80%;
  height: 100vh;
  padding: 5rem 0 5rem;
  margin: 0 auto;
}

p {
  font-size: 1.1rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.85rem;
}

.exp-single {
  transition: .5s ease;
}

.exp-single:first-child {
  border-radius: 5% 0 0;
}

.exp-single:last-child {
  border-radius: 0 0 0 5%;
}

.exp-single:hover {
  background-color: var(--blue-shown);
}

.exp-single.light:hover {
  background-color: rgba(242, 242, 242, 0.433);
}

.btn-information-card {
  max-width: 31.25rem;
}

.card-btn-container {
  justify-content: center;
}

.card-btn-container.light,
.card-btn-container.dark {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: rgb(138, 138, 138);
  transition: .5s ease;
}

.card-btn-container.active{
  color: white;
  transform: scale(1.1);
}

.card-btn-container.light.active {
  color: black;
}

.container-about {
  border: 15px;
  width: 31.25rem;
  max-width: 31.25rem;
  height: 37rem;
  border-radius: 5%;
  background-color: var(--blue-transparent);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.container-description {
  max-height: 30rem;
  overflow: auto;
}

.container-description::-webkit-scrollbar {
  width: 8px;
}

.container-description::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 0.32);
  border-radius: 12px;
}

.container-description.light::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.504);
}

.container-about.light {
  background-color: var(--white-transparent);
}

.light {
  color: black;
}

.dark {
  color: white;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.svgImg {
  width: 4.5rem;
  filter: invert(0.7);
  transition: .2s ease;
  cursor: pointer;
}

.svg-text {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.716);
  transition: .2s ease;
}

.svgImg.projects {
  width: 3.5rem;
}

.svgImg.light {
  filter: invert(0.6);
}

.svgImg:hover + .svg-text {
  color: white;
}

.svgImg.light:hover {
  filter: invert(0);
}

.svgImg.light + .svg-text {
  color: rgba(96, 96, 96, 0.72);
}

.svgImg.light:hover + .svg-text {
  color: black;
}

.svgImg:hover {
  filter: invert(1);
  transform: scale(1.1);
}



@media screen and (min-width: 2164px) {
  .app-container {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {

  html {
    overflow: auto;
  }

  .container-page {
    margin: 0;
    padding-bottom: 10rem;
    height: unset;
    max-width: 100%;
  }

  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .container-about {
    height: auto;
    width: 25rem;
  }

  .links-container {
    bottom: 0;
    padding: 0px 25px;
  }
}

@media screen and (max-width: 380px) {
  .container-about {
    width: 21rem;
  }
}