:root {
    --inverted-light-bg: rgba(255, 255, 255, 0.686);
    --inverted-dark-bg: rgba(73, 73, 73, 0.822);
    --inverted-dark-hover: rgba(0, 0, 0, 0.825);
    --inverted-light-shadow: #00000091;
    --inverted-dark-shadow: #ffffff91;
}

.slider-link {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.889);
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 25px var(--inverted-light-shadow);
    transition: .5s ease;
    filter: invert(0.7);
}


.svgLink.theme {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    filter: invert(0.7);
    transition: .5s ease;
    box-shadow: 0px 0px 25px var(--inverted-light-shadow);
}

.svgLink.theme.light {
    filter: invert(0.25);
    box-shadow: unset;
    position: relative;
}

.svgLink.theme.light:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0px 0px 25px 5px var(--inverted-dark-shadow);
}

.slider-link.light {
    /* background-color: var(--inverted-light-bg); */
    box-shadow: 0px 0px 25px var(--inverted-light-shadow);
    filter: invert(0.2);
}

.slider-link.light:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px black;
    filter: invert(0);
}

.slider-link:hover,
.svgLink.theme:not(.light):hover {
    filter: invert(1);
    background-color: white;
    transform: scale(110%);
    box-shadow: 0px 0px 25px black;
}

.svgLink.theme.light:hover {
    filter: invert(0);
    transform: scale(110%);
}

.svgLink.theme.light:hover:before {
    box-shadow: 0px 0px 25px 2px black;
}

.svgLink.theme {
    animation: rotateSvg 30s linear infinite;
}


@keyframes rotateSvg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}